.Gamebackground {
    background-image: url(../../../public/SpaceWithPlanet.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.Gamepage{
    width: 100%;
    height: 100%;
}

.Gamecanvas{
    width: 70vw;
    height: 70vh;
    background-color: black;
    margin: 15vw;
    margin-top: 15vh;
    position: absolute;
    border: 1vh solid indigo;
}

.MiddleLine {
    background-color: white;
    width: 0.2vh;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

.Player1Area {
   width: 50%;
   height: 100%;
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: column;
}

.Player2Area {
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
 }

.Playerbar1{
    width: 1vw;
    height: 13vh;
    background-color: white;
    position: absolute;
    left: 1vh;
}

.Playerbar2{
    width: 1vw;
    height: 13vh;
    background-color: blue;
    position: absolute;
    right: 1vh;
}

.main_ball {
    width: 2vh;
    height: 2vh;
    background-color: white;
    position: absolute;
  }

  .Endpopup{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 50%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(61, 43, 43, 0.9);
  padding: 20px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .WinLoose{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 6.5em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Press Start 2P', sans-serif;
    margin: 0 15%;
    white-space: nowrap;
  }

  .GameStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 65%;
  }

  .FinalScore{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 3em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Press Start 2P', sans-serif;
    margin: 0 15%;
    white-space: nowrap;
  }


  .playagain{
    background-color: blue;
    margin-top: 3%;
    font-family: 'Press Start 2P', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: 2px solid #000;
    background-color: #4caf50; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
  }

  .button-pixel-art:hover {
    background-color: #fff; /* Couleur de fond au survol */
    color: #4caf50; /* Couleur du texte au survol */
  }

  .scores_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 15vw;
}

.player_details {
    display: flex;
    align-items: center;
}

.player_image {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    background-color: #ccc;
    margin: 2vw;
    background-size: cover;
}

.player_name {
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 1.25em;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
}

.score_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%; /* Ensure the container spans the full width */
    top: 50%;
    transform: translateY(-50%);
}

.player_score {
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 2em;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 3.5px 3.5px 3.5px rgba(116, 46, 182, 0.767);
}

.player_score.leftside {
    margin-left : 5vw;
}

.player_score.rightside {
    margin-right : 5vw;
}