.Login {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* Other styles */
  }
  
  .VideoContainer {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .BackgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
  
  .Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
    z-index: 1;
  }

  .Connexion_popup_container {
    position: absolute;
    height: 60vh;
    width: 35vw;
    background-color: rgba(21, 21, 21, 0.781);
    z-index: 2;
    border-radius: 8.5%;
  }
  