<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
    <% for(let user of users) { %>
        <li>
            ID: <%= user.id %><br>
            Login: <%= user.login42 %><br>
            Name: <%= user.name %><br>
            Email: <%= user.email %><br>
        </li>
    <% } %>
    </ul>
</body>
</html>
