.chat{
    display: flex;
}

.main_part{
    width: 75vw;
    height: 100vh;
    background-color: black;
    background-image: url(../../public/pixelartchat.gif);
}

.channel_part{
    width: 25vw;
    height: 100vh;
    background-color: rgba(7, 39, 112, 0.85);
}

.Overlay {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 76vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity as needed */
    z-index: 1;
  }

.channel_top_div{
    height: 10vh;
    width: 24vw;
    display : flex;
    align-items: center;
    flex-direction: row;
    padding-left: 5vw;
    box-shadow: 0px 0px 5px rgba(233, 14, 189, 0.2);
}

.searchbar_div{
    height: 10vh;
    width: 24vw;
    display : flex;
    align-items: center;
    flex-direction: row;
    padding-left: 4.9vw;
    box-shadow: 0px 0px 5px rgba(21, 1, 17, 0.2);
}

.channel_div{
    height: 10vh;
    width: 24vw;
    display : flex;
    align-items: center;
    flex-direction: row;
    padding-left: 5vw;
    box-shadow: 0px 0px 5px rgba(21, 1, 17, 0.2);
}

.h1{
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    text-shadow:
      2px 2px 2px rgba(158, 8, 145, 0.767);
}

.channel_title{
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 1.25em;
    font-family: 'Press Start 2P', cursive;
    text-shadow:
      2px 2px 2px rgba(0, 0, 0, 0.767);
}