.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.889);
    padding-top: 10vh;
    overflow: hidden;
  }

  .Settingsh1{
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 2.5em;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 3px rgba(69, 87, 191, 0.816);
    padding-bottom: 5%;
}

.settings_container{
    height:auto;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round_div_settings_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: red;
    background-image: url(../../public/profile_img/avatar.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
}

.round_div_settings_img:hover {
    cursor: pointer;
}

.twofa_container {
    display: flex;
    justify-content: center;
}

/* CSS pour le switch 2FA */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: grey;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 5%;
  }
  
  /* CSS pour le bouton coulissant */
  .switch .switch-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  /* CSS pour le texte à côté du switch */
  .twoFA_status {
    padding-top: 5%;
    margin-left: 10px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 5%;
  }
  
  /* CSS pour le switch activé */
  .switch.active {
    background-color: green;
  }
  
  /* fait coulisser le bouton */
  .switch.active .switch-button {
    transform: translateX(100%);
  }

  .modal
{
    padding: 5% 5%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 20vh;
}

.modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_tiny {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 2.5%;
}

.popup_enter_button {
    margin-top: 2.5%;
    border-radius: 20%;
    background-color: rgb(52, 59, 51);
    box-shadow: 0.5px 0.5px 0.5px white;
    transition: transform 0.3s ease;
}

.popup_enter_button:hover{
    background-color: rgb(116, 126, 114);
    box-shadow: 1px 1px 1px rgb(63, 96, 195);
    transform: translateY(-2px);
}

.change_pseudo_button {
    margin-top: 2.5%;
    border-radius: 20%;
    background-color: rgb(52, 59, 51);
    box-shadow: 0.5px 0.5px 0.5px white;
    transition: transform 0.3s ease;
}

.change_pseudo_button:hover{
    background-color: rgb(116, 126, 114);
    box-shadow: 1px 1px 1px rgb(63, 96, 195);
    transform: translateY(-1px);
}

.change_nick_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}