/* Login.css */
.Login {
    background-image: url(../public/loginpong.gif);
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajuste la hauteur selon tes besoins */
  }
  