.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.889);
    padding-top: 10vh;
    overflow: hidden;
  }

  .Settingsh1{
    color: rgb(255, 255, 255);
    font: bold;
    font-size: 2.5em;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 3px 3px 3px rgba(69, 87, 191, 0.816);
    padding-bottom: 5%;
}

.settings_container{
    height:auto;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round_div_settings_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: red;
    /* background-image: url(../../../public/profile_img/avatar.png); */
    background-image: url(https://res.cloudinary.com/transcendence42/image/upload/v1692378890/ft_transcendence/ft_transcendence_avator_utith7.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
}

.round_div_settings_img:hover {
    cursor: pointer;
}

.change_pseudo_button {
    margin-top: 2.5%;
    border-radius: 20%;
    background-color: rgb(52, 59, 51);
    box-shadow: 0.5px 0.5px 0.5px white;
    transition: transform 0.3s ease;
}

.change_pseudo_button:hover{
    background-color: rgb(116, 126, 114);
    box-shadow: 1px 1px 1px rgb(63, 96, 195);
    transform: translateY(-1px);
}

.change_nick_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}