.accept_button
{
    background-color: #47217ad7;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.decline_button
{
    background-color: #47217ad7;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
  
.accept_button:hover {
    background-color: rgba(112, 75, 156, 0.774);
  }
  
.decline_button:hover {
    background-color: rgba(112, 75, 156, 0.774);
  }

.h1_popup_waiting
{
    font-size: 1vw;
    margin-bottom: 5%;
}